h1, h2, h3, h4, h5, h6 {
    font-family: "meno-banner", serif;
    text-transform: capitalize;
}

h1 {
    font-size: clamp(32px, 4vw, 45px);
    color: white;
}

h2 {
    font-size: 40px;
    color: var(--primary);
}

h3 {
    font-size: 32px;
    color: var(--primary);
}

p, label {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #666666;

    &.supporting-paragraph {
        font-size: 22px;
        color: var(--primary);
    }
}

.all-caps {
    text-transform: uppercase;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
}

.sub-heading {
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
}