button {
    font-family: "futura-pt", sans-serif;
    cursor: pointer;
    font-size: 17px;
    border: 0;
    background-color: var(--primary);
    color: #d8d0c7;
    padding: 0.7rem 2.7rem;
    border-radius: 3px;
    font-weight: 300;
    text-transform: uppercase;
    transition: background-color 300ms;

    &.rounded {
        border-radius: 22px;
    }

    &:not(.menu-toggle):focus,
    &:not(.menu-toggle):hover {
        background-color: #064591;
    }
}

img {
    width: 100%;
    object-fit: cover;

    &.logo {
        transition: 300ms height, 300ms width;
        height: clamp(93px, 13vw, 140px);
        width: clamp(62px, 13vw, 92px);
        object-fit: contain;
    }
}

.menu-toggle {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 35px;
    border: 0;
    background-color: unset;
    color: white;
    font-size: 19px;
    padding: 0;
    transition: color 300ms;

    &.open {
        span {
            background-color: transparent;

            &::before {
                top: 0px;
                transform: rotateZ(225deg);
            }

            &::after {
                top: -2px;
                transform: rotateZ(135deg);
            }
        }

        &:hover span,
        &:focus span {
            background-color: transparent;
        }
    }

    span {
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        display: block;
        position: relative;
        transition: background-color 300ms;

        &::before,
        &::after {
            position: relative;
            content: "";
            height: inherit;
            width: 100%;
            background-color: #ffffff;
            display: inherit;
            transition: transform 300ms, top 300ms, background-color 300ms;
        }

        &::before {
            top: -8px;
        }

        &::after {
            top: 6px;
        }
    }

    &:hover,
    &:focus {
        color: rgb(197, 196, 196);

        span,
        span::before,
        span::after {
            background-color: rgb(197, 196, 196);
        }
    }
}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    margin-top: 147px;
    margin-bottom: 136px;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

        button {
            margin-top: 11px;
        }
    }

    @media (width >=1600px) {
        gap: 128px;

        img {
            flex-basis: 795px;
        }

        div {
            flex-basis: 400px;
        }
    }
}

#booking-form {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
        width: 100%;
        padding: 12px;
        background-color: #efece7;
        border: 1px solid #cccccc;
        border-radius: 3px;
    }
}